{% extends "layout/login.html" %}
{% block body %}

 <div class="login-page">
  <form class="register-form" method=post action=""> 
  <div class="form">  

      <input type="password" id="password" name="password" 
            placeholder="Nouveau Mot de passe" value="{{ request.form.password }}"
            required>
      <button>Changer de mot de passe</button>
   
    </form>
  </div>
</div>
{% endblock %}