<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        {% include 'dependencies/cssLogin.html' %}
        {% include 'dependencies/notif.html' %}
        <title>Onyx</title>
    </head>
    <body>
 

      <div class="container">
            <div class="content">{% block body %}{% endblock %}</div>   
      </div>

        {% include 'dependencies/jsLogin.html' %}
</body>  
</html>