{% macro get_css(nom_fichiers , extension='css') -%}
    {% for fichier in nom_fichiers %}
        <link href="{{ url_for('static', filename='css/' + fichier + '.' + extension) }}" rel="stylesheet" type="text/css" />
    {% endfor %}
{%- endmacro %}

{{ get_css([ 'background' ,'materialize', 'notif' , 'wickedpicker.min' , 'notif-theme.min' ]) }}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css">
<link href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" rel="stylesheet" type="text/css" />
<link href="https://sciactive.github.io/pnotify/src/pnotify.brighttheme.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.print.css " media="print">
<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://sciactive.github.io/pnotify/src/pnotify.buttons.css" rel="stylesheet">
